{% extends 'app/base.html' %}
{% block main_content %}
<div class="container my-5">
    <h2 class="text-center mb-4">BMI Calculator</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="weight" class="form-label">Weight (kg)</label>
                        <input type="number" class="form-control" name="weight" required>
                    </div>
                    <div class="mb-3">
                        <label for="height" class="form-label">Height (cm)</label>
                        <input type="number" class="form-control" name="height" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>

               {% if bmi %}
               <div class="mt-4 id="result">
                <h5 class="text-center">Your BMI: <span>{{ bmi }}</span></h5>
                <p class="text-center">Category: {{ category }}</p>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}