{% extends 'app/base.html' %}
{% block main_content %}
<div class="container my-5">
    <h2 class="text-center mb-4">BMI Calculator</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="weight" class="form-label">Weight (kg)</label>
                        <input type="number" class="form-control" name="weight" required>
                    </div>
                    <div class="mb-3">
                        <label for="height" class="form-label">Height (cm)</label>
                        <input type="number" class="form-control" name="height" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>

               {% if bmi %}
               <div class="mt-4 id="result">
                <h5 class="text-center">Your BMI: <span>{{ bmi }}</span></h5>
                <p class="text-center">Category: {{ category }}</p>
            </div>
            {% endif %}
            {% if suggested_meals %}
            <div class="mt-4">
                <h5 class="text-center">Some suggested meals for you</h5>
                <div class="row">
                    {% for meal in suggested_meals %}
                    <div class="col-6 col-md-3 mb-3">
                        <a href="{% url 'recipe_detail' meal.idMeal%}" class="text-decoration-none text-dark">
                            <div class="card h-100">
                                <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
                                <div class="card-body p-2">
                                    <h6 class="card-title text-center mb-0">{{ meal.strMeal }}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock main_content %}