{% extends 'app/base.html' %}

{% block main_content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Your Profile</h2>
    <div class="text-center">
        <img src="{{ user.userprofile.avatar.url }}" alt="Avatar" width="120" height="120" class="rounded-circle">
        <br>
            <div class="d-flex justify-content-center gap-2 mt-2 mb-4">
                <a href="{% url 'update_avatar' %}" class="btn btn-outline-primary">Update Avatar</a>
                <a href="{% url 'change_password' %}" class="btn btn-outline-secondary">Change Password</a>
            </div>
    </div>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <hr>
    <h4>BMI History</h4>
    <ul>
        {% for log in bmi_logs %}
        <li>
            {{log.created_at|date:"Y-m-d H:i"}} - BMI: {{log.bmi_value}} ({{log.bmi_category}})
        </li>
        {% empty %}
        <li>No BMI records yet.</li>
        {% endfor %}
    </ul>

    <h4>BMR History</h4>
    <ul>
        {% for log in bmr_logs %}
        <li>
            {{log.created_at|date:"Y-m-d H:i"}} - BMR: {{log.bmr_value}} 
        </li>
        {% empty %}
        <li>No BMR records yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock main_content %}
